@using WaterEvents.Models;
@{
    Layout = null;

    GlobalModel global = ViewBag.Global;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <title>@global.SeoTitle</title>
    <meta name="description" content="@global.SeoDescription" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Css/Site.css" rel="stylesheet" />

    <link href="~/Content/Css/offcanvas.css?v=0.9" rel="stylesheet" />

</head>
<body>

    @*
    <div style="position:fixed; bottom:0; height:20px; width: 100px; z-index: 1000;">
        <div class="hidden-xs hidden-sm" style="background: green;">Desktop</div>
        <div class="hidden-xs hidden-md hidden-lg" style="background:yellow;">Tablet</div>
        <div class="hidden-sm hidden-md hidden-lg" style="background:blue;">Phone</div>
    </div>
        *@
    <div class="container-fluid mobile-top-bar hidden-md hidden-lg">
        <div class="row">
            <div class="col-xs-12">
                @*
                <a href="/" class="logo"></a>
                *@
                <button data-toggle="offcanvas">Menu</button>
                @*
                <div class="plate" data-toggle="offcanvas">
                    <div class="burger">
                        <span class="beef"></span>
                    </div>
                </div>
                *@
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row main-menu-bar hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 main-menu-wrapper">
                        <a href="/" class="logo"></a>
                        @Html.Partial("_MainMenu", global.MainMenu)
                    </div>
                </div>
            </div>
        </div>

        <div class="row site-offset row-offcanvas row-offcanvas-right">
            <div class="overlay" data-toggle="offcanvas"></div>
            @if (global.CarouselActive)
            {
                @RenderSection("MenuBackground", false)
            }
            else
            {
                <div style="background-image: url('/Content/Images/site-bg.jpg'); background-size: cover; background-position: top center; height: 470px;">
                </div>
            }
            <div class="container">
                @RenderBody()
                <footer class="row">
                    Copyright © 2015. Alle rettigheder forbeholdt.
                </footer>
            </div>

            <div class="sidebar-offcanvas hidden-md hidden-lg" id="sidebar">
                <ul>
                    <li><a href="/" title="Forside">Forside</a></li>
                    @foreach (var item in global.MainMenu)
                    {
                        <li @Html.Raw(item.Active ? "class=\"active\"" : string.Empty)><a title="@item.Name" href="@item.Url">@item.Name</a></li>
                    }
                </ul>
            </div>
    </div>

    <script src="~/scripts/jquery-2.1.3.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/offcanvas.js"></script>
</body>
</html>