@model WaterEvents.Models.LocationsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row locations-page main content-page">
    <div class="col-sm-8 col-sm-push-2">
        <div class="row">
            <h1 class="text-center">@Model.Header</h1>
            @Model.BodyText
        </div>
        <div class="locations-wrapper">
            @if(Model.LocationRegions != null && Model.LocationRegions.Any())
            {
                foreach (var region in Model.LocationRegions)
                {
                    @RenderLocationRegion(region)
                }
            }
        </div>
        <div class="row">
            @Model.PostBodyText
        </div>
    </div>
</div>

@helper RenderLocationRegion(WaterEvents.Models.HelperModels.LocationRegion region)
{
    <div class="row region">
        <div class="col-sm-10 col-sm-push-1">
            <div class="row">
                <div class="col-sm-12">
                    <h2>@region.Name</h2>
                </div>
            </div>

            @if(region.Locations != null && region.Locations.Any())
            {
                foreach (var location in region.Locations)
                {
                    @RenderLocation(location)
                }
            }

        </div>
    </div>    
}

@helper RenderLocation(WaterEvents.Models.HelperModels.Location location)
{
    <div class="row location">
        <div class="col-sm-7">
            @location.Address
        </div>
        <div class="col-sm-5 text-right">
            @if(!string.IsNullOrWhiteSpace(location.ExternalUrl))
            {
                <a href="@location.ExternalUrl" target="_blank" class="btn btn-map">Se kort</a>
            }
        </div>
    </div>
}